@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
    font-family: 'Montserrat';
}

.big_title {
    font-size: 50px;
    padding: 30px;
    float: left;
}

.title1 {
    overflow: hidden;
}

.hide_button {
    float: right;
}


.small_title {
    font-size: 30px;
    color: #817F7F;
    padding: 15px;
    background-color: rgb(255, 217, 223);
    
}

.button {
    float: right;
    margin-top: 40px;
}



.container {
    display: flex;
    font-size: 30px;
    font-weight: bold;
}

.mainbox {
    border: 3px;
    font-size: 20px;
    font-weight: bold;
    width: auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin: 60px;
    box-shadow: 0 0 20px 10px rgba(150, 150, 150, 0.1);
}


.damwonkia-img {
    width: 600px;
    height: 600px;
    
}

.upbit-img {
    width: 600px;
    height: 600px;
}

.lol-img {
    width: auto;
    height: 182px;
}


.jd {
    display: flex;
    object-fit: cover;
    text-align: center;
}




.dark-mode {
    background-color: black;
    color: white;
}

